<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="wrapper">
      <%- include('../partials/header.ejs') %> <%-
      include('../partials/navigation.ejs') %>

      <main><%- body %></main>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
